<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes Réservations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list>
          <ion-item-sliding *ngFor="let booking of this.bookings">
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-img [src]="this.getPlace(booking.placeId).imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ this.getPlace(booking.placeId).title }}</h2>
                <p>{{ booking.date }} - {{ booking.nbJours }} jours</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger" (click)="deleteBooking(this.booking)">
                  <ion-icon slot="bottom" name="trash"></ion-icon>
                  Delete
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
